.m-1 {
    margin: 1em;
}

.m-2 {
    margin:  2em;
}

.m-3 {
    margin: 3em;
}

.m-4 {
    margin: 4em;
}

.m-5 {
    margin: 5em
}

.m-6 {
    margin: 6em
}

.m-7 {
    margin: 7em
}

.m-8{
    margin: 8em;
}

.m-9
{
    margin: 9em;
}

.m-10
{
    margin:10em;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding:  2em;
}

.p-3 {
    padding: 3em;
}

.p-4 {
    padding: 4em;
}

.p-5 {
    padding: 5em
}

.p-6 {
    padding: 6em
}

.p-7 {
    padding: 7em
}

.p-8{
    padding: 8em;
}

.p-9
{
    padding: 9em;
}

.p-10
{
    padding:10em;
}

div.dt-buttons.btn-group > button.btn.btn-secondary.buttons-excel.buttons-html5
{
    background: #1f3dd59c;
    color: white;
}

div.dt-buttons.btn-group > button.btn.btn-secondary.buttons-pdf.buttons-html5
{
    background: #1f3dd59c;
    color: white;
}

 thead > tr > th.th-sm
 {
     background: #696969;
     color: white;
     font-size: 14px;
     padding: 12px !important;

 }